@model KishanBlog.Models.Login

@{
    ViewBag.Title = "Set New Password";
    ViewBag.Description = "This page allows registered users to set new password.";
    ViewBag.Keywords = "Plsql,PL/SQL,Blog,YouTube Videos,Oracle,Oracle 10g,Oracle plsql,Oracle pl/sql interview question,Oracle Tips and Tricks,Kishan Mashru,pl/sql syntax, reset,change password,mail link,link expires";
    var IsExpired = ViewBag.IsExpired;
}

<link href="~/Content/Login.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


@using (Html.BeginForm("SetNewPassword", "SetNewPassword", FormMethod.Post))
{

    <div class="block">
        <div class="row">
            <div class="col-md-12">
                <h1 class="redClr"><i class="fa fa-lock"></i> Set Password</h1>
            </div>
        </div>
        @if (ViewBag.Msg != null || ViewBag.Msg != "")
        {
            <div class="row">
                <div class="col-md-12 alert @ViewBag.status">
                    <center>@ViewBag.Msg</center>
                </div>
            </div>
        }
        @*<div class="row" style="margin-bottom:10px;">
                <div class="col-md-12">
                    <p class="note">You will get reset password link on your registered email id</p>
                </div>
            </div>*@
        <div style="display:@(IsExpired ? "none" : "")">
            @Html.HiddenFor(model => model.Email)
            @Html.Hidden("IsExpired")
            <div class="row margBtm">
                <div class="col-md-4">
                    <center>
                        @Html.TextBoxFor(model => model.Password, "", new { @class = "form-control", placeholder = "Password*" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "Reqclr" })
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        @Html.TextBoxFor(model => model.ConfirmPassword, "", new { @class = "form-control", placeholder = "Confirm Password*" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "Reqclr" })
                    </center>
                </div>
                <div class="col-md-3">
                    <center><button type="submit" class="btn btn-default primaryBtn">Set Password</button></center>
                </div>
            </div>
        </div>
    </div>
}
