@model KishanBlog.Models.InterviewQuestions
@using System.Data;

@{
    ViewBag.Title = "Edit Interview QuestionIndex";
    var InterviewQuestionList = ViewBag.InterviewQuestionList;
}
<link href="~/Content/Blog.css" rel="stylesheet" />

<div class="block">
    <div class="row" style="margin-bottom:30px;">
        <div class="col-md-12">
            <h1>Edit Interview QuestionIndex</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover" id="datatable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Question</th>
                        <th>Published On</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow dr in InterviewQuestionList.Rows)
                    {
                        <tr>
                            <td>@dr["InterviewQuestionId"]</td>
                            <td><a href="@Url.Action("CreateInterviewQuestion","AdminInterviewQuestion",new {Id=dr["InterviewQuestionId"] })">@dr["InterviewQuestion"]</a></td>
                            <td>@dr["PublishOn"]</td>
                            <td>
                                <a href="@Url.Action("CreateInterviewQuestion","AdminInterviewQuestion",new {Id=dr["InterviewQuestionId"] })" style="margin-right:5px;"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                @if (!Convert.ToBoolean(dr["IsDelete"]))
                                {
                                    <a href="@Url.Action("DeleteInterviewQuestion","EditInterviewQuestion",new {Id=dr["InterviewQuestionId"] })"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                }
                                else
                                {
                                    <span style="color:red;"><b>Deleted</b></span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

}