@model KishanBlog.Models.Login

@{
    ViewBag.Title = "Change Password";
    ViewBag.Description = "This page allows registered users to change their password.";
    ViewBag.Keywords = "change password,change oracleplsqlblog password,oracle plsql blog,Kishan Mashru,Blog";
}

<link href="~/Content/Login.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


@using (Html.BeginForm("ChangePassword", "ChangePassword", FormMethod.Post))
{

    <div class="block">
        <div class="row">
            <div class="col-md-12">
                <h1 class="redClr"><i class="fa fa-pencil"></i> Change Password</h1>
            </div>
        </div>
        @if (ViewBag.Msg != null || ViewBag.Msg != "")
        {
            <div class="row">
                <div class="col-md-12 alert @ViewBag.status">
                    <center>@ViewBag.Msg</center>
                </div>
            </div>
        }
        @*<div class="row" style="margin-bottom:10px;">
                <div class="col-md-12">
                    <p class="note">You will get reset password link on your registered email id</p>
                </div>
            </div>*@
        <div class="row margBtm">
            <div class="col-md-offset-4 col-md-4">
                <center>
                    @Html.TextBox("OldPassword", "", new { @class = "form-control", placeholder = "Old Password*" })
                    <span id="oldpwd" class="Reqclr"></span>
                </center>
            </div>
        </div>
        <div class="row margBtm">
            <div class="col-md-offset-4 col-md-4">
                <center>
                    @Html.TextBoxFor(model => model.Password, "", new { @class = "form-control", placeholder = "New Password*" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "Reqclr" })
                </center>
            </div>
        </div>
        <div class="row margBtm">
            <div class="col-md-offset-4 col-md-4">
                <center>
                    @Html.TextBoxFor(model => model.ConfirmPassword, "", new { @class = "form-control", placeholder = "Confirm Password*" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "Reqclr" })
                </center>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <center><button type="submit" class="btn btn-default primaryBtn">Change Password</button></center>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#oldpwd').hide();
        });
        $('#OldPassword').change(function () {
            var value = $(this).val().trim();
            if (value == "" || value == undefined) {
                $('#oldpwd').show();
                $('#oldpwd').text("This field is required");
            }
            else {
                $('#oldpwd').hide();
            }
        });

        $('form').submit(function () {            
            var value = $('#OldPassword').val().trim();
            if (value == "" || value == undefined) {
                $('#oldpwd').show();
                $('#oldpwd').text("This field is required");
                return false;
            }
        });
    </script>
}
